<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Creation of LiDAR Component In Simulation -->

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_link"/>
        <origin xyz="0.15 0 1.34" rpy="0 0 1.5708"/>
    </joint>

    <link name="laser_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.03"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.0" length="0.03" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- LiDAR Gazebo Simulation Information -->

    <gazebo reference="laser_link">
        <material>Gazebo/Red</material>

        <sensor name="lidar" type="ray"> <!-- Ray Sensor -->
            <pose>0 0 0 0 0 0</pose> <!-- Origin of Virtual Sensor is Origin of Link -->
            <visualize>true</visualize> 
            <update_rate>5</update_rate> <!-- 10 Times / Sec -->
            <ray>
                <scan>
                    <horizontal>
                        <samples>300</samples>
                        <!-- <resolution>1</resolution> -->
                        <min_angle>-3.14</min_angle> <!-- In Rads -->
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min> <!-- Min 300 mm-->
                    <max>12</max> <!-- Max 12 m -->
                    <!-- <resolution>0.01</resolution> -->
                </range>
            </ray>
            <plugin name="lidar_sensor" filename="libgazebo_ros_ray_sensor.so"> <!-- Plugin That Takes Ray Sensor And Let It Talk To Ros -->
                    <useSimTime>true</useSimTime>
                    <ros>
                        <argument>~/out:=scan</argument> <!-- Publish To This Topic -->
                    </ros>
                <frame_name>laser_link</frame_name> <!-- Output Type to Publish -->
                <output_type>sensor_msgs/LaserScan</output_type> <!-- Frame ID for Scan Msg -->
            </plugin>
        </sensor>
    </gazebo>


</robot>